:root {
    --lavender: #ECD2FC;
    --purple: #B980FF;
    --pink: #FFC6F7;
    --yellow: #FFF880;
    --softblue: #C4F1FF;
}
html, body {
    height: 100%;
}
body, .content, .nav {
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: stretch;
    text-align: center;
    font-family: monospace;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .5px;
    background-color: black;
    color: black;
}
.nav {
    flex-flow: row nowrap;
    justify-content: center;
    background-color: black;
}
.nav .active.option {
    border: 5px solid white;
    border-bottom: none;
    margin-bottom: -5px;
    z-index: 2;
    padding: 6px 10px 14px;
}
.header {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 5px auto 0;
    border: 10px solid var(--pink);
}
.text {
    padding: 5px 10px;
    font-weight: bolder;
    font-size: 16px;
    line-height: 18px;
    background: white;
    color: black;
    border: 5px solid var(--yellow);
}
.content {
    gap: 10px;
    background: var(--softblue);
    padding: 20px;
    border: 5px solid white;
    margin: 0 20px;
}
.toggle {
    border: 1px solid black;
    background-color: var(--lavender);
    display: flex;
    flex-flow: row nowrap;
    margin: auto;
}
.option {
    padding: 5px;
    background-color: var(--purple);
}
.active {
    background-color: var(--softblue);
}
.body {
    display: flex;
    flex-flow: column nowrap;
    margin: auto;
    padding: 10px;
    gap: 10px;
    background-color: var(--purple);
    border: 10px solid var(--pink);
}
.body.copy {
    width: 50%;
}
.section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 20px;
    background-color: white;
    border: 5px solid var(--yellow);
    padding: 15px 20px;
}
form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    row-gap: 10px;
    min-width: 600px;
    width: 50%;
    margin: auto;
}
label {
    display: flex;
}
label span {
    width: 75px;
}
label input {
    flex: 1 1 auto;
}
#geolocation {
    background-color: var(--lavender);
}
table {
    border-collapse: collapse;
    border: 2px solid black;
    margin: auto;
}
thead {
    background-color: var(--yellow);
}
td {
    border: 1px solid black;
    padding: 5px 10px;
}
#mapview {
    margin: auto;
}
.mapoptions {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 5px 0;
    gap: 5px;
}
.mapbutton {
    background-color: var(--pink);
    padding: 5px 10px;
    border: none;
    font-family: inherit;
}
.mapbutton:hover, .mapbutton:active {
    background-color: var(--yellow);
}
input {
    border: 2px solid var(--yellow);
}
a {
    color: var(--purple);
    text-decoration: none;
    font-weight: bold;
}
.nav a, .footer a {
    color: black;
    text-decoration: none;
    padding: 10px;
}
a:hover, a:active {
    color: var(--yellow);
}

.mapalt {
    font-size: 11px;
    line-height: 14px;
    font-style: italic;
}
#map {
    height: 400px;
    width: 600px;
}
.markerWrapper {
    padding: 2px;
    background-color: green;
    border-radius: 5px;
}
.markerWrapper.unverified {
    background-color: yellow;
}
.markerWrapper:before {
    content: "";
    position: absolute;
    right: 50%;
    margin-right: -5px;
    top: 100%;
    border: solid 5px transparent;
    border-top-color: green;
    z-index: 1;
}
.markerWrapper.unverified:before {
    border-top-color: yellow;
}
.markerIcon {
    height: 22px;
    width: 22px;
}
.markerIcon img {
    max-width: 100%;
    max-height: 100%;
    color: white;
}
.markerWrapper .markerDetail, .markerWrapper.active .markerIcon {
    display: none;
}
.markerWrapper.active .markerDetail {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
}
.footer {
    background: var(--purple);
    padding: 5px 0;
    margin-top: auto;
}
@media screen and (max-width: 600px) {
    .content {
        padding: 5px;
        margin: 0;
    }
    .body {
        margin: 0;
    }
    .body.copy {
        width: unset;
    }
    #map {
        height: 300px;
        width: 100%;
    }
    #mapview {
        margin: 0;
        width: 100%;
    }
    .section {
        padding: 10px 5px;
    }
    .mapoptions {
        justify-content: center;
    }
    form {
        width: unset;
        min-width: unset;
    }
}