body, .content, .nav {
    margin: 0;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: center;
    text-align: center;
}
.nav {
    padding: 20px;
    flex-flow: row nowrap;
    background-color: grey;
    column-gap: 10px;
}
.nav a {
    text-decoration: none;
}
.content {
    flex: 1 1 auto;
}
.toggle {
    display: flex;
    flex-flow: row nowrap;
    margin: auto;
    border: 1px solid black;
    background-color: grey;
}
.option {
    padding: 5px;
}
.active {
    background-color: white;
}
form {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 10px;
    width: 50%;
    margin: auto;
}
label {
    display: flex;
}
label span {
    width: 50px;
}
label input {
    flex: 1 1 auto;
}