body, .content, .nav {
    margin: 0;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    font-family: Geneva, Verdana, sans-serif;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .5px;
}
.nav {
    flex-flow: row nowrap;
    background-color: grey;
}
.nav a {
    text-decoration: none;
}
.content {
    flex: 1 1 auto;
    gap: 10px;
    padding: 20px;
}
.toggle {
    border: 1px solid black;
    background-color: grey;
    display: flex;
    flex-flow: row nowrap;
    margin: auto;
}
.option {
    padding: 5px;
}
.active {
    background-color: white;
}
form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    row-gap: 10px;
    min-width: 600px;
    width: 50%;
    margin: auto;
}
label {
    display: flex;
}
label span {
    width: 60px;
}
label input {
    flex: 1 1 auto;
}
#geolocation {
    background-color: grey;
}
table {
    border-collapse: collapse;
    border: 2px solid black;
    margin: auto;
}
thead {
    background-color: grey;
}
td {
    border: 1px solid black;
    padding: 5px 10px;
}
#mapview {
    margin: auto;
}
.mapoptions {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 5px;
    gap: 5px;
}
.mapbutton {
    border: 1px solid black;
    background-color: grey;
    padding: 3px;
}
.mapalt {
    font-size: 11px;
    line-height: 14px;
}
#map {
    height: 400px;
    width: 600px;
}
.markerWrapper {
    padding: 2px;
    background-color: green;
    border-radius: 5px;
}
.markerWrapper.unverified {
    background-color: yellow;
}
.markerWrapper:before {
    content: "";
    position: absolute;
    right: 50%;
    margin-right: -5px;
    top: 100%;
    border: solid 5px transparent;
    border-top-color: green;
    z-index: 1;
}
.markerWrapper.unverified:before {
    border-top-color: yellow;
}
.markerIcon {
    height: 22px;
    width: 22px;
}
.markerIcon img {
    max-width: 100%;
    max-height: 100%;
    color: white;
}
.markerWrapper .markerDetail, .markerWrapper.active .markerIcon {
    display: none;
}
.markerWrapper.active .markerDetail {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
}
@media screen and (max-width: 600px) {
    #map {
        height: unset;
        width: 100%;
    }
    form {
        min-width: unset;
    }
}