{% extends 'base.html' %}
{% set active_page = 'entry' %}
{% set entries = [entry] %}
{% block content %}
    <div class="header">
        <div class="text">{{ entry.title }}</div>
    </div>
    <div class="body">
        <div class="section">
            <div>
                <div>Created by <a href="{{ url_for('user', user_id=entry.user.id) }}">{{ entry.user.name }}</a></div>
                <div>{{ entry.created }}</div>
                <div>Position (lat, long):</div>
                <div>[{{ entry.lat }}, {{ entry.long }}]</div>
            </div>
            <div id="mapview">
                <div id="map"></div>
            </div>
            <div><a href="{{ url_for('list') }}"> back to list </a></div>
        </div>
    </div>

{% endblock %}