{% extends 'base.html' %}
{% set active_page = 'list' %}
{% block content %}
    <h2>All Entries</h2>
    <div class="toggle">
        <div class="option tog active" onclick="toggleList(true)">list</div>
        <div class="option tog" onclick="toggleList(false)">map</div>
    </div>
    <div class="content">
        <table id="listview">
            <thead>
                <td>Title</td>
                <td>Latitude</td>
                <td>Longitude</td>
                <td>Created</td>
            </thead>
            {% for entry in entries %}
                <tr>
                    <td><a href="{{ url_for('entry', entry_id=entry.id) }}">{{ entry.title }}</a></td>
                    <td>{{ entry.lat }}</td>
                    <td>{{ entry.long }}</td>
                    <td>{{ entry.created }} by {{ entry.author }}</td>
                </tr>
            {% endfor %}
        </table>
        <div id="mapview" hidden>
            <div id="map"></div>
        </div>
    </div>
{% endblock %}