{% extends 'base.html' %}
{% set active_page = '' %}
{% block content %}
    <div class="header">
        <div class="text">{{ user.name }}</div>
    </div>
    <div class="body">
        <div class="section">
            <div>Entries submitted:</div>
            <table id="listview">
                <thead>
                    <td>Title</td>
                    <td>Lat</td>
                    <td>Long</td>
                    <td>Created</td>
                </thead>
                {% for entry in user.entries %}
                    <tr>
                        <td><a href="{{ url_for('entry', entry_id=entry.id) }}">{{ entry.title }}</a></td>
                        <td>{{ entry.lat }}</td>
                        <td>{{ entry.long }}</td>
                        <td>{{ entry.created }}</td>
                    </tr>
                {% endfor %}
            </table>
            <a href="{{ url_for('list') }}"> back to list </a>
        </div>
    </div>
{% endblock %}